@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p{
  font-family: 'Hind Vadodara', sans-serif;
}

@font-face {
  font-family: allround;
  src: url(../fonts/All-Round-Gothic-Bold.ttf);
}
.pop{
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container-fluid{
  padding: 0px 3rem;
  
}
.monofont{
  font-family: allround;
}
.hind{
  font-family: 'Hind Vadodara', sans-serif;
}


/************************Navbar CSS Start**************/
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    color: #fff;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}



/************************Navbar CSS End**************/
/************************Fotter CSS Start**************/
.sliderx {
  position: relative;
}
.sliderx .parallax-sliderx {
  position: relative;
}
.sliderx .parallax-sliderx .sw-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}
.sw-slides{
  background-color: black;
  background-image: url(../public/assets/smoke.gif);




  
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
}

.sliderx .txt-botm {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 8;
}

.sw-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
/************************Fotter CSS END**************/

.hero{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px
px
);
}

.pink-color{
  color: #D8AAF8C4;

}
.main-heading{
  -webkit-text-stroke: 7px white;
    letter-spacing: 5px;
}
.main-heading2{
  -webkit-text-stroke: 2px white;
    letter-spacing: 3px;
    margin-top: -10px;
}
.sign-in{
  border-color:#D8AAF8C4 ;
}
.nav-link{
  color: white;
}


/* ********************************8Animation button css Start************************  */
.button {
	float: left;
	/* min-width: 150px; */
	/* max-width: 250px; */
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
.button--moema {
	/* padding: 1.5em 3em; */
	/* border-radius: 50px; */
	/* background: #7986cb; */
	color: #fff;
  border: 2px solid #D8AAF8C4;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
	background: #ECEFF1;
	color: #37474f;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -10px;
	bottom: -20px;
	right: -10px;
	background: inherit;
	border-radius: 30px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #ECEFF1;
	background-color: #D8AAF8C4;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
	color: #ECEFF1;
	background-color: #D8AAF8C4;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/* **************** text animation css ************** */
.concept {
  position: relative;
  /* padding: 5em; */
  /* height: 100vh; */
  overflow: hidden;
  scroll-snap-align: center;
}
.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}


.concept-three .word {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: auto;
}
.concept-three .hover {
  flex: 1;
  display: grid;
  height: calc(100vh - 10em);
  grid: repeat(2, 2fr) / 100%;
  position: relative;
}
.concept-three .hover div {
  position: relative;
  z-index: 5;
}
.concept-three .hover div:nth-child(1):hover ~ h1 {
  margin-top: -10px;
}
.concept-three .hover div:nth-child(2):hover ~ h1 {
  margin-top: -50px;
}
.concept-three h1 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 0;
}
/* ************************* Platform css Start ************** */



.swiper-container {
  width: 100%;
  /* height: 100%; */
  /* height: 80vh; */
  
}


.swiper-full-mobile {
position: relative;
margin: 40px auto;
padding-bottom: 50px;
}

.swiper-full-mobile:before {
content: "";
/* width: 265px; */
width: 180px;
background: url(../public//assets/pl-slider/frame.png);
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 0;
right: 0;
top: 0px;
height: 565px;
z-index: 2;
margin: auto;
}
.swiper-full-mobile .sw-sliderss {
height: 100%;
}
.swiper-full-mobile .sw-sliderss img{
width: 100%;
height: 334px;
margin-top: 8px;
/* height: 100%; */
object-fit: cover;

}

/* ************************* Platform css End ************** */
/* ************************* Whylof css Start ************** */
.card-bg{
  background: linear-gradient(154.21deg, rgba(81, 45, 168, 0.1) 0.8%, rgba(103, 58, 183, 0.1) 100.66%); ;
    backdrop-filter: blur(100px);
   border-radius: 20px;
}
.card-bg p{
  font-size: 12px;
}
/* ************************* Whylof css End ************** */
/* ************************* FAq css Start ************** */
.right-sec{
  background: linear-gradient(154.21deg, rgba(81, 45, 168, 0.1) 0.8%, rgba(103, 58, 183, 0.1) 100.66%);
  border-radius: 7px;
}
.que-ans{
  height: 70vh !important;
  /* flex: 1 1 auto !important; */
  overflow: scroll;
  overflow-x: hidden;
  /* margin-top: 70px !important; */
}
::-webkit-scrollbar{
    width: 0px;
}
.right-sec h3{
  font-weight: normal;
}
/* ************************* FAq  css End ************** */
/* ************************* Term page css start ************** */
.TermAndConditionDiv{
  padding-top: 7%;
  /* height: 70vh; */
  background-image: url("../public/assets/Become-bg.png");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.TermAndConditionDiv p{
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-style: normal;
  font-weight: 400;
  font-family: 'Hind Vadodara';
}

.TermAndConditionDiv li{
  font-size: 1.2rem;
  line-height: 2.6rem;
  font-family: 'Hind Vadodara';
}



.rowPadding{
  padding: 0 6%;
}

.PinkColor{
  color:#d8aaf8;
}
.fweight{
  font-weight: 600;
}

.firstH1{
  font-family: 'AllRound1';
  font-style: normal;
  font-size: 3rem;
}
.firstH2{
  font-family: 'AllRound1';
  font-style: normal;
  font-size: 1.8rem;
}
.firsth4{
  font-weight: 700;
}
.firsth4 h6{
  font-size: 1.1rem;
}

.firsth4 ul {
  list-style: none; /* Remove default bullets */
  
}
.firsth4 ul li::before {
  content: "\2022";
  color: #d8aaf8;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: normal;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  
}

.termsScroll{

  
  height: 60vh !important;
  overflow: hidden;
  overflow-y: scroll;
 
}


/* ************************* Term page  css End ************** */
/* ************************* privacy page  css start ************** */
.for-PrivacyBg{
  /* height: 100vh; */
  background-image: url("../public/assets/Become-bg.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0% 6%;
  padding-top: 5%;
  
}
.termsScroll{

    
  height: 60vh !important;
  overflow: hidden;
  overflow-y: scroll;
 
}
.privacy-heading h1{
    
/* font-family: 'AllRound1'; */
font-style: normal;
font-weight: 700;
font-size: 38px;
}
.privacy-heading span{
  color:#D8AAF8;
}
.mainPrivacy-txt p{

/* font-family: 'Hind Vadodara'; */
font-style: normal;
font-weight: 400;
font-size: 0.9rem;

 
}
.mainPrivacy-txt span{
  color:#D8AAF8;
  } 

  .defination-part h4{
    /* font-family: 'Hind Vadodara'; */
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #D8AAF8; 
}
.defination-part h3{
  /* font-family: 'Hind Vadodara'; */
font-style: normal;
font-weight: 600;
font-size: 15px;
color: #D8AAF8;
}
.defination-part p{
  /* font-family: 'Hind Vadodara'; */
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
   }
   .defination-part span{
    color:#D8AAF8;
    /* font-family: 'Hind Vadodara'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    } 

    .circleSpan{
      font-weight:300;
      font-size:1.1rem;

    }
    .defination-part li {
    /* font-family: 'Hind Vadodara'; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 0.9rem;
   }
   .defination-part ul {
    list-style: none; /* Remove default bullets */
  }
  .defination-part ul li::before {
    content: "\2022";
    color: #D8AAF8;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: normal;
    display: inline-block;
    width: 1em;

  }


.for-list-dot{
  list-style-type: circle !important;
}
/* ************************* privacy page  css End ************** */
/* ************************* policy page  css start ************** */
.for-pol-bg{
  /* height: 100vh; */
  background-image: url("../public/assets/Become-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.RiskPolicyDiv {
  /* padding-top: 5%; */
  /* height: 100vh; */
 
}
.RiskPolicyDiv p {
  font-size: .9rem;
  line-height: 1.8rem;
  font-style: normal;
  font-weight: 400;
  /* font-family: Hind Vadodara; */
  color: white;
}
.RiskPolicyDiv li {
  font-size: .9rem;
  /* font-family: Hind Vadodara; */
}
.RiskPolicyDiv .rowPadding {
  padding: 0 6%;
  /* height: 100vh; */
}
.RiskPolicyDiv .PinkColor {
  color: #d8aaf8;
}
.RiskPolicyDiv .fweight {
  font-weight: 700;
  font-size: 1.2rem;
}
.RiskPolicyDiv .firstH1 {
  font-family: 'AllRound1';
  font-style: normal;
  font-size: 3rem;
}
.RiskPolicyDiv .firstH2 {
  font-family: 'AllRound1';
  font-style: normal;
  font-size: 1.8rem;
}
.RiskPolicyDiv ul {
  list-style: none;
 /* Remove default bullets */
}
.RiskPolicyDiv ul li::before {
  content: "\2022" !important;
  color: #d8aaf8 !important;
  font-weight: bold !important;
  font-size: 1.8rem !important;
  line-height: normal !important;
  display: inline-block !important;
  width: 1em !important;

}
.RiskPolicyDiv .termsScroll {
  height: 60vh !important;
  overflow: hidden;
  overflow-y: scroll;
}


/* ************************* policy page  css End ************** */

.for-page-bg{
  background-image: url(../public/assets/Become-bg.png);
}